{
  "app": "npx ts-node bin/cdk.ts",
  "context": {
    "@aws-cdk/core:enableStackNameDuplicates": "true",
    "aws-cdk:enableDiffNoFail": "true",
    "imageTag": "",
    "vpcId": "vpc-XXXXX",
    "availabilityZones": [
      "ap-northeast-1a",
      "ap-northeast-1c"
    ],
    "publicSubnetIds": [
      "subnet-XXXXX",
      "subnet-YYYYY"
    ],
    "targetGroupArn": "arn:aws:elasticloadbalancing:ap-northeast-1:XXXXX"
  }
}
